<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566423133335-g6599tng2nr2seqj7icu3818e0svls0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566423133335-g6599tng2nr2seqj7icu3818e0svls0d</string>
	<key>API_KEY</key>
	<string>AIzaSyANw3ic41KNHKoZCdmF2v3xSY3eHwqFHA4</string>
	<key>GCM_SENDER_ID</key>
	<string>566423133335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zmicrotech.mentalHealthCare</string>
	<key>PROJECT_ID</key>
	<string>mental-health-care-6aba8</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-care-6aba8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566423133335:ios:27068df4d42aa0e6b1ddd2</string>
</dict>
</plist>